h3{
    color:white;
    padding-left: 16px ;
}
a{
    color:rgba(255,255,255,0.5);
}
a:hover{
    color:rgba(255,255,255,1);
}
span{
    color:rgba(255,255,255,0.5);
    padding-left: 16px;
}
.block-footer{ background: #d27c3d;
}
.block-footer__links{
    display: flex;

}

.divider{color:white}
